<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet"  href="http://127.0.0.1:5000/static/css/style.css">
</head>
<body>
    <header>
       
        <img src="https://images.unsplash.com/photo-1511920170033-f8396924c348?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29mZmVlJTIwc2hvcHxlbnwwfHwwfHx8MA%3D%3D" alt="Cafe Banner" class="banner">
        <div class="overlay">
            <h1>Welcome to Philz Coffe</h1>
            <p>Your perfect daily brew</p>
        </div>
    </header>

    <section class="about">
        <h2>About Us</h2>
        <p>Classic & Simple: "The Coffee House," "The Beanery," "The Daily Grind</p>
    </section>

    <section class="menu">
        <h2>Our Menu</h2>
        <div class="menu-items">
            <div class="card">
                <img src="http://127.0.0.1:5000/static/images/1.jpeg" alt="Espresso">
                <h3>Espresso</h3>
                <p>Strong and bold ₹120</p>
            </div>
            <div class="card">
                <img src="http://127.0.0.1:5000/static/images/2.jpeg" alt="Latte">
                <h3>Latte</h3>
                <p>Smooth and creamy ₹150</p>
            </div>
        </div>
    </section>
 

   
<div>
           <div class="wave"></div>
           <div class="wave"></div>
           <div class="wave"></div>
</div>
    <section class="gallery">
        <h2>Gallery</h2>
        <div class="gallery-images">
            <img src="http://127.0.0.1:5000/static/images/1.jpeg" alt="Cafe Inside">
            <img src="http://127.0.0.1:5000/static/images/4.png" alt="Coffee">
        </div>
    </section>

    <section class="contact">
        <h2>Contact Us</h2>
        <p>Email: romalthomas17@gmail.com | Phone: +91-8590316430</p>
    </section>

    <footer>
        <p>&copy; 2025 Romal Thomas. All rights reserved.</p>
    </footer>
  
  
</body>
</html>
