<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Table</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 30px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;
        }
        th, td {
            border: 1px solid #aaa;
            padding: 30px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tbody tr:nth-child(even) {
            background-color: #fafafa;
        }
    </style>
</head>
<body>

<h2>Employee List</h2>


        <table>
            <tr>
                <th>name</th>
                <th>phone</th>
                <th>email</th>
                <th>postalZip</th>
                <th>address</th>
            </tr>
            <tr>
                <td>Mona Booth</td>
                <td>1-986-278-2687</td>
                <td>ac.eleifend@aol.com</td>
                <td>9337</td>
                <td>P.O. Box 470, 4088 Tincidunt Av.</td>
            </tr>
            <tr>
                <td>Sybill Lara</td>
                <td>(232) 842-5397</td>
                <td>vestibulum.massa@hotmail.ca</td>
                <td>UU2F 3IS</td>
                <td>P.O. Box 436, 8696 Ullamcorper Road</td>
            </tr>
            <tr>
                <td>Dacey Carrillo</td>
                <td>(669) 661-1647</td>
                <td>est.mollis.non@protonmail.edu</td>
                <td>7593</td>
                <td>Ap #730-8521 Ornare, Av.</td>
            </tr>
            <tr>
                <td>Kimberly Wagner</td>
                <td>(678) 951-0745</td>
                <td>ante.iaculis@google.couk</td>
                <td>45878</td>
                <td>Ap #588-9649 Donec St.</td>
            </tr>
            <tr>
                <td>Oleg Nixon</td>
                <td>(216) 589-7570</td>
                <td>sed.dolor@outlook.com</td>
                <td>482210</td>
                <td>880-4249 Vulputate, Avenue</td>
            </tr>
            <tr>
                <td>Tad Dodson</td>
                <td>1-841-402-6615</td>
                <td>pretium.aliquet@yahoo.edu</td>
                <td>1682</td>
                <td>P.O. Box 830, 6104 Leo. Rd.</td>
            </tr>
            <tr>
                <td>Ginger Roth</td>
                <td>(536) 833-3400</td>
                <td>eget@outlook.couk</td>
                <td>5586</td>
                <td>616-4105 Eu St.</td>
            </tr>
            <tr>
                <td>Price Howell</td>
                <td>(217) 244-6657</td>
                <td>tincidunt.aliquam@google.couk</td>
                <td>R4E 3H5</td>
                <td>Ap #447-1412 Felis. Rd.</td>
            </tr>
            <tr>
                <td>Chancellor Byers</td>
                <td>1-248-351-9434</td>
                <td>nibh.dolor@aol.couk</td>
                <td>241574</td>
                <td>Ap #146-1016 Quis Road</td>
            </tr>
            <tr>
                <td>Kiona Talley</td>
                <td>1-662-249-9329</td>
                <td>rutrum.lorem@outlook.couk</td>
                <td>v7T 9X1</td>
                <td>687-8605 Ut Ave</td>
            </tr>
            <tr>
                <td>Lev Collier</td>
                <td>1-844-655-2458</td>
                <td>malesuada.id.erat@outlook.net</td>
                <td>2240</td>
                <td>596-9834 Proin Rd.</td>
            </tr>
            <tr>
                <td>Alexis Goodwin</td>
                <td>(646) 517-2432</td>
                <td>eu@icloud.org</td>
                <td>11200</td>
                <td>Ap #985-6661 Nec, Rd.</td>
            </tr>
            <tr>
                <td>Anastasia Rutledge</td>
                <td>(712) 469-3462</td>
                <td>facilisi.sed@protonmail.couk</td>
                <td>47-668</td>
                <td>P.O. Box 707, 7960 Interdum Rd.</td>
            </tr>
            <tr>
                <td>Alyssa Lopez</td>
                <td>1-223-238-2977</td>
                <td>rutrum.fusce@hotmail.ca</td>
                <td>41112</td>
                <td>Ap #281-4167 Felis Av.</td>
            </tr>
            <tr>
                <td>Signe Christensen</td>
                <td>1-131-988-2462</td>
                <td>tristique.aliquet@protonmail.ca</td>
                <td>252354</td>
                <td>761-9525 Adipiscing. Rd.</td>
            </tr>
            <tr>
                <td>Karly Bass</td>
                <td>1-449-653-7431</td>
                <td>mauris.a.nunc@outlook.com</td>
                <td>52758</td>
                <td>P.O. Box 804, 5388 Vehicula Ave</td>
            </tr>
            <tr>
                <td>Kyra Mccullough</td>
                <td>(234) 233-6835</td>
                <td>orci@outlook.com</td>
                <td>43-362</td>
                <td>Ap #123-8493 Egestas. St.</td>
            </tr>
            <tr>
                <td>Indigo Murray</td>
                <td>(681) 254-7257</td>
                <td>hendrerit.id@aol.org</td>
                <td>3764</td>
                <td>Ap #864-2834 Magna. Street</td>
            </tr>
            <tr>
                <td>Freya Haney</td>
                <td>1-575-217-5185</td>
                <td>luctus.ut@google.ca</td>
                <td>718327</td>
                <td>P.O. Box 667, 3726 Senectus St.</td>
            </tr>
            <tr>
                <td>Cally Suarez</td>
                <td>1-679-825-2579</td>
                <td>et@icloud.ca</td>
                <td>01-615</td>
                <td>Ap #599-6484 Tristique Rd.</td>
            </tr>
            <tr>
                <td>Gray Campbell</td>
                <td>(413) 183-0179</td>
                <td>a@aol.com</td>
                <td>336479</td>
                <td>493-8372 Mus. Rd.</td>
            </tr>
            <tr>
                <td>Kitra Noel</td>
                <td>1-456-759-4813</td>
                <td>dolor.vitae@icloud.couk</td>
                <td>2108</td>
                <td>Ap #503-1294 Diam Rd.</td>
            </tr>
            <tr>
                <td>Oscar Fry</td>
                <td>1-483-246-3978</td>
                <td>fermentum@hotmail.org</td>
                <td>13140-366</td>
                <td>Ap #626-7699 Mi St.</td>
            </tr>
            <tr>
                <td>Arden Strong</td>
                <td>1-874-867-9648</td>
                <td>luctus.ut@google.org</td>
                <td>21985</td>
                <td>728-7482 Sem Avenue</td>
            </tr>
            <tr>
                <td>Wylie Frye</td>
                <td>1-462-574-6771</td>
                <td>faucibus.orci.luctus@outlook.couk</td>
                <td>27985</td>
                <td>P.O. Box 770, 103 Mauris, Street</td>
            </tr>
            <tr>
                <td>Brielle Lott</td>
                <td>(560) 921-1439</td>
                <td>arcu.morbi@yahoo.com</td>
                <td>53188</td>
                <td>5774 Lorem St.</td>
            </tr>
            <tr>
                <td>Nicholas Harmon</td>
                <td>1-333-715-7712</td>
                <td>semper.erat.in@outlook.com</td>
                <td>391837</td>
                <td>P.O. Box 958, 5938 Adipiscing St.</td>
            </tr>
            <tr>
                <td>Shannon Burton</td>
                <td>(204) 961-1282</td>
                <td>eu@yahoo.com</td>
                <td>2773-6881</td>
                <td>Ap #901-4350 Vitae, Avenue</td>
            </tr>
            <tr>
                <td>Odysseus Potts</td>
                <td>(318) 424-1568</td>
                <td>est.nunc@hotmail.ca</td>
                <td>15943</td>
                <td>Ap #423-7974 Sociis St.</td>
            </tr>
            <tr>
                <td>Raja Burke</td>
                <td>(370) 322-4567</td>
                <td>dignissim.pharetra@icloud.org</td>
                <td>EF81 4LX</td>
                <td>Ap #830-9268 Vivamus St.</td>
            </tr>
            <tr>
                <td>Nina Meyer</td>
                <td>1-637-351-3666</td>
                <td>et.ipsum.cursus@outlook.com</td>
                <td>73363</td>
                <td>581-9475 Interdum St.</td>
            </tr>
            <tr>
                <td>Amela Carter</td>
                <td>(806) 609-4934</td>
                <td>lorem.semper@google.org</td>
                <td>149272</td>
                <td>Ap #164-2621 Dis St.</td>
            </tr>
            <tr>
                <td>Gretchen Watson</td>
                <td>1-554-423-3179</td>
                <td>amet@protonmail.net</td>
                <td>12932</td>
                <td>418-1094 Mi Ave</td>
            </tr>
            <tr>
                <td>Kessie Zamora</td>
                <td>(922) 534-9580</td>
                <td>semper.egestas.urna@outlook.couk</td>
                <td>931405</td>
                <td>Ap #335-4621 Auctor Rd.</td>
            </tr>
            <tr>
                <td>Barbara Solomon</td>
                <td>(911) 645-6376</td>
                <td>libero@google.net</td>
                <td>241937</td>
                <td>P.O. Box 889, 3312 Mollis Road</td>
            </tr>
            <tr>
                <td>Charles Wilson</td>
                <td>(666) 967-4681</td>
                <td>magnis@protonmail.net</td>
                <td>890208</td>
                <td>P.O. Box 471, 319 Et, Av.</td>
            </tr>
            <tr>
                <td>Eaton Camacho</td>
                <td>(521) 535-5424</td>
                <td>nulla.interdum.curabitur@protonmail.ca</td>
                <td>87-38</td>
                <td>923-781 Suspendisse Rd.</td>
            </tr>
            <tr>
                <td>Cheyenne Walls</td>
                <td>1-827-211-4171</td>
                <td>class@google.couk</td>
                <td>727663</td>
                <td>5918 Vel, St.</td>
            </tr>
            <tr>
                <td>Charles Cote</td>
                <td>(673) 971-5242</td>
                <td>adipiscing.fringilla@outlook.ca</td>
                <td>985738</td>
                <td>Ap #432-3507 Sed Street</td>
            </tr>
            <tr>
                <td>Yolanda Gordon</td>
                <td>(738) 569-1780</td>
                <td>taciti@outlook.net</td>
                <td>8878</td>
                <td>Ap #296-1203 Volutpat. Av.</td>
            </tr>
            <tr>
                <td>Rafael Randall</td>
                <td>(686) 348-6614</td>
                <td>eu.tellus@yahoo.ca</td>
                <td>441475</td>
                <td>Ap #679-1161 Vitae St.</td>
            </tr>
            <tr>
                <td>Yoshi Farley</td>
                <td>(886) 204-4524</td>
                <td>tincidunt@aol.ca</td>
                <td>J6L 6J6</td>
                <td>Ap #295-9427 In St.</td>
            </tr>
            <tr>
                <td>Jayme Kirkland</td>
                <td>1-817-855-8213</td>
                <td>eu.tellus.phasellus@icloud.com</td>
                <td>0455</td>
                <td>P.O. Box 311, 8135 Dolor, Road</td>
            </tr>
            <tr>
                <td>Jayme Kline</td>
                <td>1-655-402-9567</td>
                <td>nec.leo@protonmail.ca</td>
                <td>98114</td>
                <td>469-5905 Sed Rd.</td>
            </tr>
            <tr>
                <td>Tyrone Beard</td>
                <td>(419) 771-6023</td>
                <td>fringilla@yahoo.com</td>
                <td>5111</td>
                <td>Ap #692-6670 Dictum Rd.</td>
            </tr>
            <tr>
                <td>Jana Underwood</td>
                <td>(825) 572-5397</td>
                <td>risus.nunc@outlook.org</td>
                <td>30401</td>
                <td>Ap #148-4091 Cras St.</td>
            </tr>
            <tr>
                <td>Kitra Wilkinson</td>
                <td>(216) 264-1891</td>
                <td>est.ac@icloud.net</td>
                <td>41386</td>
                <td>596-9919 Vulputate, Road</td>
            </tr>
            <tr>
                <td>Clark Mack</td>
                <td>1-618-816-6640</td>
                <td>orci.luctus@icloud.com</td>
                <td>63387</td>
                <td>6041 Quam. Av.</td>
            </tr>
            <tr>
                <td>Roth Witt</td>
                <td>1-181-547-4047</td>
                <td>a.aliquet.vel@hotmail.net</td>
                <td>51586</td>
                <td>311-5660 In St.</td>
            </tr>
            <tr>
                <td>Ferdinand Brady</td>
                <td>1-517-538-6134</td>
                <td>curabitur.egestas@aol.edu</td>
                <td>7952</td>
                <td>Ap #668-6681 Pede. Ave</td>
            </tr>
            <tr>
                <td>Declan Gilmore</td>
                <td>(324) 301-4718</td>
                <td>luctus.et@google.org</td>
                <td>61603</td>
                <td>5323 Et, St.</td>
            </tr>
            <tr>
                <td>Kiona Castro</td>
                <td>(403) 718-9113</td>
                <td>adipiscing.elit@yahoo.ca</td>
                <td>75676</td>
                <td>8317 Pharetra. Av.</td>
            </tr>
            <tr>
                <td>Kylie Ferrell</td>
                <td>(116) 947-5148</td>
                <td>aliquet.magna.a@google.org</td>
                <td>936518</td>
                <td>P.O. Box 732, 2338 Aliquet Road</td>
            </tr>
            <tr>
                <td>Jemima Reeves</td>
                <td>1-681-342-1497</td>
                <td>neque@outlook.org</td>
                <td>30626</td>
                <td>P.O. Box 241, 7429 Dui. Av.</td>
            </tr>
            <tr>
                <td>Kelly Harrington</td>
                <td>1-880-455-2419</td>
                <td>bibendum@hotmail.org</td>
                <td>0120 AC</td>
                <td>P.O. Box 845, 1723 Quis St.</td>
            </tr>
            <tr>
                <td>Holly Knowles</td>
                <td>(588) 537-3114</td>
                <td>neque.sed@outlook.edu</td>
                <td>71011</td>
                <td>Ap #950-7055 Sit Street</td>
            </tr>
            <tr>
                <td>Stone Day</td>
                <td>(762) 467-7254</td>
                <td>dolor@protonmail.edu</td>
                <td>7453</td>
                <td>Ap #759-3604 Semper Ave</td>
            </tr>
            <tr>
                <td>Roth Elliott</td>
                <td>(661) 658-4547</td>
                <td>aliquam.nec@outlook.net</td>
                <td>50204</td>
                <td>964-7337 Luctus Street</td>
            </tr>
            <tr>
                <td>Cedric Harding</td>
                <td>1-692-436-4336</td>
                <td>eu.odio@hotmail.ca</td>
                <td>8552</td>
                <td>Ap #873-4634 A Street</td>
            </tr>
            <tr>
                <td>Solomon Villarreal</td>
                <td>(913) 732-6607</td>
                <td>id@protonmail.edu</td>
                <td>8357</td>
                <td>P.O. Box 235, 8580 Ut Av.</td>
            </tr>
            <tr>
                <td>Travis Hicks</td>
                <td>1-890-168-5093</td>
                <td>in.tempus@protonmail.com</td>
                <td>5927-4654</td>
                <td>420-1378 Ultrices. St.</td>
            </tr>
            <tr>
                <td>Finn Pope</td>
                <td>(258) 287-2555</td>
                <td>mollis.non.cursus@outlook.com</td>
                <td>812424</td>
                <td>Ap #522-9441 Proin St.</td>
            </tr>
            <tr>
                <td>Mercedes Atkins</td>
                <td>1-182-946-2393</td>
                <td>consequat.dolor@hotmail.edu</td>
                <td>3237 IR</td>
                <td>Ap #547-2589 Tempor Av.</td>
            </tr>
            <tr>
                <td>Kyla Gomez</td>
                <td>(262) 664-3722</td>
                <td>curae.donec.tincidunt@hotmail.couk</td>
                <td>2619</td>
                <td>288-8435 Et Street</td>
            </tr>
            <tr>
                <td>Yvonne Sears</td>
                <td>(971) 364-0622</td>
                <td>semper@aol.couk</td>
                <td>30411</td>
                <td>6466 Egestas St.</td>
            </tr>
            <tr>
                <td>Phyllis Nixon</td>
                <td>1-311-822-3181</td>
                <td>curabitur@google.couk</td>
                <td>75502</td>
                <td>P.O. Box 230, 4261 Ligula. Ave</td>
            </tr>
            <tr>
                <td>Karleigh Pickett</td>
                <td>(241) 891-7568</td>
                <td>lobortis.quam.a@protonmail.ca</td>
                <td>44575</td>
                <td>P.O. Box 946, 1622 Nunc Road</td>
            </tr>
            <tr>
                <td>Ulla Bass</td>
                <td>1-172-566-3561</td>
                <td>nec@icloud.org</td>
                <td>387766</td>
                <td>Ap #864-7754 Et Avenue</td>
            </tr>
            <tr>
                <td>Mason Stout</td>
                <td>(255) 761-7177</td>
                <td>magna.sed.eu@google.com</td>
                <td>17934</td>
                <td>Ap #776-4593 Luctus. St.</td>
            </tr>
            <tr>
                <td>Mechelle Wagner</td>
                <td>1-997-245-6155</td>
                <td>ultrices.vivamus@outlook.ca</td>
                <td>97-660</td>
                <td>9972 Commodo Avenue</td>
            </tr>
            <tr>
                <td>Gwendolyn Ray</td>
                <td>1-208-426-8036</td>
                <td>enim.nunc@google.edu</td>
                <td>N3P 1E5</td>
                <td>2487 Tincidunt. Ave</td>
            </tr>
            <tr>
                <td>Jade Justice</td>
                <td>1-717-588-8535</td>
                <td>donec@protonmail.com</td>
                <td>9990</td>
                <td>Ap #920-8378 Quam Ave</td>
            </tr>
            <tr>
                <td>Kylee Bond</td>
                <td>(862) 733-8532</td>
                <td>ultrices.vivamus.rhoncus@hotmail.net</td>
                <td>410196</td>
                <td>P.O. Box 251, 2944 Blandit St.</td>
            </tr>
            <tr>
                <td>Hedy Hodge</td>
                <td>1-140-761-4482</td>
                <td>volutpat@outlook.net</td>
                <td>11716</td>
                <td>P.O. Box 292, 3713 Posuere, Rd.</td>
            </tr>
            <tr>
                <td>Melissa Holland</td>
                <td>(305) 954-1770</td>
                <td>mauris.ipsum.porta@outlook.net</td>
                <td>16032</td>
                <td>Ap #834-2753 Eros Rd.</td>
            </tr>
            <tr>
                <td>Astra Carney</td>
                <td>1-926-542-2916</td>
                <td>facilisis.magna@outlook.ca</td>
                <td>295966</td>
                <td>P.O. Box 573, 7478 Est, Street</td>
            </tr>
            <tr>
                <td>Hayes Brock</td>
                <td>1-684-415-3733</td>
                <td>suspendisse.ac@protonmail.org</td>
                <td>98-330</td>
                <td>979-5012 Ut Street</td>
            </tr>
            <tr>
                <td>Hyacinth Langley</td>
                <td>1-317-111-8412</td>
                <td>leo.morbi.neque@hotmail.ca</td>
                <td>21812</td>
                <td>Ap #877-9897 Quam. Road</td>
            </tr>
            <tr>
                <td>Burton Hardin</td>
                <td>1-823-488-8610</td>
                <td>mauris@google.ca</td>
                <td>3728</td>
                <td>Ap #493-2805 Aliquet. Rd.</td>
            </tr>
            <tr>
                <td>Gannon Mcmillan</td>
                <td>(632) 401-0115</td>
                <td>cras.sed@aol.com</td>
                <td>5524</td>
                <td>536-5750 Egestas. Road</td>
            </tr>
            <tr>
                <td>Xenos Cooper</td>
                <td>(709) 119-2091</td>
                <td>libero.lacus@icloud.org</td>
                <td>47532</td>
                <td>P.O. Box 171, 6849 Donec Rd.</td>
            </tr>
            <tr>
                <td>Althea Gilmore</td>
                <td>1-877-278-5860</td>
                <td>massa@protonmail.ca</td>
                <td>828233</td>
                <td>Ap #858-8594 Neque Av.</td>
            </tr>
            <tr>
                <td>Talon Moreno</td>
                <td>1-128-608-3781</td>
                <td>consectetuer.euismod.est@outlook.net</td>
                <td>E3 1EY</td>
                <td>4071 Vitae St.</td>
            </tr>
            <tr>
                <td>Todd Hart</td>
                <td>1-662-212-5436</td>
                <td>nascetur.ridiculus@yahoo.edu</td>
                <td>11267</td>
                <td>Ap #820-6512 Sollicitudin Rd.</td>
            </tr>
            <tr>
                <td>Olympia Bruce</td>
                <td>1-536-285-6463</td>
                <td>ornare.libero.at@yahoo.edu</td>
                <td>8446</td>
                <td>113-1722 Metus St.</td>
            </tr>
            <tr>
                <td>Larissa Lindsay</td>
                <td>(734) 855-7332</td>
                <td>nonummy.ipsum.non@aol.com</td>
                <td>28-54</td>
                <td>P.O. Box 906, 7092 Non Road</td>
            </tr>
            <tr>
                <td>Quinlan Whitaker</td>
                <td>(347) 478-6446</td>
                <td>facilisis.suspendisse.commodo@aol.net</td>
                <td>824531</td>
                <td>822-5267 Nec, Ave</td>
            </tr>
            <tr>
                <td>Evelyn Wright</td>
                <td>(444) 511-6527</td>
                <td>dolor.fusce@protonmail.ca</td>
                <td>267437</td>
                <td>862-2394 Dolor. Avenue</td>
            </tr>
            <tr>
                <td>Laith Savage</td>
                <td>1-352-275-2274</td>
                <td>curabitur.ut@protonmail.org</td>
                <td>683693</td>
                <td>Ap #973-9668 Egestas St.</td>
            </tr>
            <tr>
                <td>Chancellor George</td>
                <td>1-423-666-7770</td>
                <td>pharetra.ut@icloud.couk</td>
                <td>51583</td>
                <td>131-431 Euismod Street</td>
            </tr>
            <tr>
                <td>Macey Singleton</td>
                <td>(835) 982-7372</td>
                <td>non.egestas@aol.org</td>
                <td>2772</td>
                <td>929-5147 Id, Avenue</td>
            </tr>
            <tr>
                <td>Axel Massey</td>
                <td>(503) 833-2211</td>
                <td>tempor.erat.neque@protonmail.couk</td>
                <td>17800</td>
                <td>P.O. Box 230, 1223 Rutrum, St.</td>
            </tr>
            <tr>
                <td>Tatum Barker</td>
                <td>(718) 411-1217</td>
                <td>arcu.iaculis@outlook.couk</td>
                <td>306702</td>
                <td>Ap #525-339 Integer Street</td>
            </tr>
            <tr>
                <td>Wing Sellers</td>
                <td>(601) 909-6552</td>
                <td>quisque.tincidunt@protonmail.org</td>
                <td>288114</td>
                <td>221-1494 Fermentum Avenue</td>
            </tr>
            <tr>
                <td>Mechelle Bowman</td>
                <td>1-178-438-0487</td>
                <td>scelerisque.sed@icloud.couk</td>
                <td>309162</td>
                <td>7814 Orci. Avenue</td>
            </tr>
            <tr>
                <td>Walter Espinoza</td>
                <td>(644) 244-2149</td>
                <td>etiam.imperdiet@outlook.couk</td>
                <td>00233</td>
                <td>Ap #119-4581 Ipsum Street</td>
            </tr>
            <tr>
                <td>Samson Trevino</td>
                <td>(335) 458-4654</td>
                <td>dignissim.pharetra@aol.edu</td>
                <td>96118</td>
                <td>Ap #403-4593 Dolor Road</td>
            </tr>
            <tr>
                <td>Carol Osborn</td>
                <td>(958) 857-1335</td>
                <td>euismod.urna@icloud.ca</td>
                <td>58741</td>
                <td>9999 Ut Avenue</td>
            </tr>
            <tr>
                <td>Ulla Conner</td>
                <td>1-664-285-0985</td>
                <td>aenean.eget@outlook.com</td>
                <td>30218</td>
                <td>Ap #291-6364 Rutrum Rd.</td>
            </tr>
            <tr>
                <td>Jack Black</td>
                <td>(765) 317-1562</td>
                <td>at@outlook.couk</td>
                <td>55716-109</td>
                <td>Ap #396-4276 Lacus. Road</td>
            </tr>
        </table>


</body>
</html>
